[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
dynaconf = "*"
pandas = "*"
requests = "*"
aiohttp = "*"
pika = "*"
statsmodels = "*"
ta-lib = "*"
empyrical = "*"
redis = "*"
numba = "*"
websockets = "==9.1"

[dev-packages]

[requires]
python_version = "3.8"
